:root{
    --mainColor: rgba(242,246,248,1);
    --secondaryColor: #CFEEFA;
    --tertiaryColor: #7D9C9F;
    --mainText: #0c090b; 
    --secondaryText:darkslateblue; 
}

html, body{
    font-family: 'Raleway', sans-serif;
    /* padding: 0px;
    margin: 0 auto; */
    background-color: var( --mainColor);
    height:100%;
    min-height:100%; 
    font-weight: 400;
    font-size: 18px;
    line-height: 1.7;
}
html, body, ul, li {
    margin: 0;
    padding: 0;
}
h1, h2{
    text-align: center;
    color: var(--mainText);
}
h4{
    color: var(--secondaryText);
}

p{
    margin-top: 0;
    margin-bottom: 1rem;
}

a{
    text-decoration: none;
    color: var(--secondaryText);
}

a:hover{
    color:  #0099FF;
}

ul{
    list-style: none;
}

.container{
    width: auto;
    height: 100%;
    margin-left: 10%; 
    margin-right: 10%;
    padding-bottom: 50px;
    padding-top: 10px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px));
    /* position: absolute; */
    /* border-radius: 6px;
    box-shadow: 1px 1px 5px 1px rgba(75,81,86,1) */
}

.greeting{
    min-height: 20em;
    /* width: 50em; */
    /* smax-width: 90%; */
    margin: auto;
    display: grid;
    align-items: center;
	grid-template-columns:  1fr 1.5fr;
	grid-template-areas: 
        'nav nav'
        'portrait about'
        'technologies technologies'
    ;
    /* gap: 10px; */
    /* box-shadow: 10px 11px 51px 0px rgba(75,81,86,1) */
}

.navigation{
    grid-area: nav;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0%;
    padding: 5px;
    padding-bottom: 5px;
}

.photo {
    grid-area: portrait;
    padding-top: 50px;
    text-align: center;
    /* margin-right: -28%; */
}

.skills{
    grid-area: about;
    /* padding-top:50px;
    padding-bottom: 50px; */
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 70%;
    margin-left: 25px;
}
.stack{
    display: flex;
    margin: auto;
    /* max-width: 90%; */
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin: 0%;
}

.intro{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.technologies{
    grid-area: technologies;
    display: flex;
    justify-content: space-evenly; 
    justify-self: center;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 1%;
    /* padding: 35px; */
    padding-bottom: 0px;
    background-color: var( --mainColor);
    width: 65em;
    /* border-radius: 6px;
    box-shadow: 1px 1px 5px 1px rgba(75,81,86,1) */
}

.show-work{
    min-height: 20em;
    display: grid;
    align-content: center;
	grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: 
		'header header header '
        'p1 p1 p1'
        'p2 p2 p2'
        'p3 p3 p3'
        'social social social'
    ;
    padding: 1em;
    /* box-shadow: 10px 11px 51px 0px rgba(75,81,86,1); */
    /* background-color: var(--secondaryColor); */
}
.p-header{
    grid-area: header;
}
.p1{
    grid-area: p1;
}
.p2{
    grid-area: p2;
}
.p3{
    grid-area: p3;
}
#project{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-evenly;
    flex-wrap: wrap; 
    align-items: center;
    margin: 0;
    padding: 5px;
    padding-bottom: 5px;
}
.project-img{
    height: 250px;
    width: 250px;
    margin: 5%;
    border-radius: 6px;
    box-shadow: 1px 1px 5px 1px rgba(75,81,86,1); 
}

.p-summary{
    max-width: 50%;
}
/* .p1, .p2, .p3{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin: 5%;
    padding: 5px;
    padding-bottom: 5px;
} */
.p-source img{
    height: 30px;
    width: auto;
}

.contact {
    grid-area: social;
    margin: auto;
    max-width: 90%;
    padding: 15px 20px;
    background: #DBF3FA;
}
.social{
    background-color: var( --mainColor);
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 0%;
    padding: 5px;
    padding-bottom: 5px;
    background: #DBF3FA;
    color:  #e3e3e4;
}
#social img{
    height: 30px;
    width: auto;
    margin: 5%;
}

.social a{
    display: -webkit-inline-box;
    display: inline-flex;
    width: 60px;
    height: 60px;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    vertical-align: middle;
    text-align: center;
    background: #FFF;
    border-radius: 50%;
    box-shadow: 0 1px 3px rgba(0,0,0,0.15);
}

.social li {
    display: inline-block;
    margin: 1em 0.5em;
    vertical-align: middle;
}
.technologies img{
    height: 4em;
    width: auto;
    border-radius: 3px;
    box-shadow: 0px 0px 0px 0px rgba(75,81,86,1);
    margin: 10px;
}
.photo img{
    height: auto; 
    width: 40%;
    border-radius: 0px;
    box-shadow: 0px 0px 0px 0px rgba(75,81,86,1); 
}

@media screen and (max-width: 1200px){
    .container{
        width:95%; 
        margin: auto; 
    }
}
@media screen and (max-width: 320px){
    .container{
        width:300px; 
        margin: auto; 
    }
}

/* @media(max-width: 320px){
    .container{
      width: 300px;
    } */
@media screen and (max-width: 800px){
    .greeting{
        width:95%;
        display: grid;
        margin: auto;
        grid-template-columns: repeat(auto-fit, minmax(320px));
	    grid-template-columns: 1fr;
	    grid-template-areas: 
		    'nav'
            'portrait'
            'about' 
            'technologies'
            ;
    }
}
@media screen and (max-width: 320px){
    .greeting{
        display: grid;
        width:95%;
        margin: auto;
	    grid-template-columns: 1fr;
	    grid-template-areas: 
		'nav'
        'portrait'
        'about'
        'technologies'
	;
    }
}

@media screen and (max-width: 800px){
    .show-work {
        max-width: 95%;
        margin: auto;
        display: grid;
	    grid-template-columns: 1fr;
	    grid-template-areas: 
		'header'
        'p1'
        'p2'
        'p3'
        'social'   
    }
}
@media screen and (max-width: 320px){
    .show-work {
        display: grid;
        margin: auto;
        width:95%;
	    grid-template-columns: 1fr;
	    grid-template-areas: 
		'header'
        'p1'
        'p2'
        'p3'
        'social'   
    }
}


